:root {
  --skyBlue: #87ceeb;
  --skyBlue1: #caf0f8;
  --skyBlue2: #ade8f4;
  --skyBlue3: #90e0ef;
  --grassGreen1: #d8f3dc;
  --grassGreen2: #74c69d;
  --grassGreen3: #40916c;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background:linear-gradient(var(--skyBlue3), var(--skyBlue2), var(--skyBlue1), var(--grassGreen1), var(--grassGreen2), var(--grassGreen3));
}